{% extends "layout2.html" %}
    {%from "_macros.html" import input_Form%}
{%block content %}
    <div class="container">
        <div class="row">
            <form name="registro" action="" id="registro" method="post">
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{input_Form(form.nombre, class="form-control")}}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{input_Form(form.direccion, class="form-control")}}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{input_Form(form.telefono, class="form-control")}}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{input_Form(form.tamanio, class="form-control")}}
                    </div>
                </div>
                <div class="border-2 border-gray-300 p-4 rounded-lg">
                    <label> Ingredientes </label>
                    <div>
                        {{input_Form(form.jamon,class="toggle
                        toggle-info")}}
                    </div>
                    <div>
                        {{input_Form(form.pinia,class="toggle
                        toggle-info")}}
                    </div>
                    <div>
                        {{input_Form(form.champinion,class="toggle
                        toggle-info")}}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{input_Form(form.numPizzas, class="form-control")}}
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                <input type="submit" id="agregar" name="submit" value="Agregar" class="btn btn-primary"/>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h3>Pizzeria</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Tamaño</th>
                        <th>Ingredientes</th>
                        <th>Num. Pizzas</th>
                        <th>SubTotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pizza in pizzas %}
                    <tr>
                        <td>{{ pizza.tamanio }}</td>
                        <td>
                            {% if pizza.jamon %}
                                Jamon
                            {% endif %}
                            {% if pizza.pinia %}
                                Piña
                            {% endif %}
                            {% if pizza.champinion %}
                                Champiñones
                            {% endif %}
                        </td>
                        <td>{{ pizza.num_pizzas }}</td>
                        <td>{{ pizza.subtotal }}</td>
                        <td>
                            <form method="POST">
                                <input type="hidden" name="id" value="{{ pizza_id }}">
                                <button type="submit" name="submit" value="Quitar" class="btn btn-danger">Quitar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row">
            <h3>Ventas del dia</h3>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {%for total in pizza%}
                    <tr>
                        <td>{{ total.nombre }}</td>
                        <td>{{ total.total }}</td>
                    </tr>
                    {%endfor%}
                    
                </tbody>
            </table>
        </div>

    </div>
{%endblock%}
